body{
    background-color:black;
    color:white;
    font-family:'Courier New', Courier, monospace;
    height:961px;
    width:204px;
}
.title-1{
    color:white;
    position:relative;
    top:42px;
}
.title-2{
    color:white;
    position:relative;
    top:-17px;
    left:715px;
    width:461px;
}
.title-3{
    color:white;
    position:relative;
    top:-75px;
    left:1708px;
}
.left{
    overflow-y:scroll;
    scrollbar-gutter:stable;
    overscroll-behavior-block:contain;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:start;
    top:-100px;
    height:527px;
    width:229px;
    ul{
        position:relative;
        left:-39px;
    }
}
.center{
    overflow-y:scroll;
    scrollbar-gutter:stable;
    overscroll-behavior-block:contain;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    top:-627px;
    height:435px;
    width:1437px;
    left:229px;
    .description-1{
        position:relative;
        top:-4px;
        left:-459px;
        width:442px;
    }
    img{
        position:relative;
        top:-51826px;
    }
    .description-2{
        position:relative;
        top:-26360px;
        left:489px;
        width:442px;
    }
}
.right{
    overflow-y:scroll;
    scrollbar-gutter:stable;
    overscroll-behavior-block:contain;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:end;
    top:-1062px;
    height:527px;
    width:229px;
    left:1683px;
    ul{
        position:relative;
        left:-9px;
    }
}
::-webkit-scrollbar{
    width:5px;
    height:5px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(to top,transparent,red,transparent);
    border-radius:10px;
    animation-name:color;
    animation-duration:5s;
    animation-iteration-count:infinite;
}
@keyframes color{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(100deg);
    }
}