body{
    background-color:black;
    color:white;
    font-family:'Courier New', Courier, monospace;
    height:975px;
    width:1661px;
}
.left{
    overflow-y:auto;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:start;
    top:200px;
    height:607px;
    width:229px;
    ul{
        position:relative;
        left:-39px;
    }
}
.center{
    overflow-y:auto;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    top:-407px;
    height:607px;
    width:1437px;
    left:229px;
    .description-1{
        position:relative;
        top:76px;
        left:-459px;
        width:442px;
    }
    img{
        position:relative;
        top:-24814px;
    }
    .description-2{
        position:relative;
        top:-12344px;
        left:489px;
        width:442px;
    }
    h1{
        position:relative;
        top:-24830px;
    }
}
.right{
    overflow-y:auto;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:end;
    top:-1014px;
    height:607px;
    width:229px;
    left:1683px;
    ul{
        position:relative;
        left:-9px;
    }
}
::-webkit-scrollbar{
    background-color:transparent;
    border-radius:10px;
    width:5px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(to top,transparent,red,transparent);
    border-radius:10px;
    animation:animate 5s linear infinite;
}
@keyframes animate{
    0%,100%{
        filter:hue-rotate(0deg);
    }
    50%{
        filter:hue-rotate(360deg);
    }
}