body{
    background-color:black;
    color:white;
    font-family:'Courier New', Courier, monospace;
    height:961px;
    width:204px;
}
.title-1{
    color:white;
    position:relative;
    top:42px;
}
.title-2{
    color:white;
    position:relative;
    top:-17px;
    left:715px;
    width:461px;
}
.title-3{
    color:white;
    position:relative;
    top:-75px;
    left:1708px;
}
.left{
    overflow-y:auto;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:start;
    top:-100px;
    height:607px;
    width:229px;
    ul{
        position:relative;
        left:-39px;
    }
}
.center{
    overflow-y:auto;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    top:-707px;
    height:607px;
    width:1437px;
    left:229px;
    .description-1{
        position:relative;
        top:-4px;
        left:-459px;
        width:442px;
    }
    img{
        position:relative;
        top:-35024px;
    }
    .description-2{
        position:relative;
        top:-17396px;
        left:489px;
        width:442px;
    }
    h1{
        position:relative;
        top:-35040px;
    }
}
.right{
    overflow-y:auto;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:end;
    top:-1314px;
    height:607px;
    width:229px;
    left:1683px;
    ul{
        position:relative;
        left:-9px;
    }
}
::-webkit-scrollbar{
    background-color:transparent;
    border-radius:10px;
    width:5px;
    height:5px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(to top,transparent,red,transparent);
    border-radius:10px;
    animation:animate 5s linear infinite;
}
@keyframes animate{
    0%{
        filter:hue-rotate(0 deg);
    }
    100%{
        filter:hue-rotate(360 deg);
    }
}